* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -1px;
  color: #fff;
}

h1 strong {
  color: #026fff;
}

.header {
  background: #212930;
  color: #fff;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 300px;
  background-image: url('../images/hero.jpg');
  background-color: #212930;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.portfolio {
  background: #f3f3f3;
}

.portfolio__project {
  border: 1px solid #777;
  border-radius: 10px;
  margin: 15px 10px;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
}

.portfolio__project div, .portfolio__project--image {
  width: 500px;
  
}
